PySide6>=6.7
yt-dlp[default]
mutagen
imageio-ffmpeg
numpy
deno
sounddevice
scipy
spotifyscraper
paho-mqtt>=2.0
pyinstaller
winrt-runtime; sys_platform == "win32"
winrt-Windows.Foundation; sys_platform == "win32"
winrt-Windows.Foundation.Collections; sys_platform == "win32"
winrt-Windows.Media; sys_platform == "win32"
winrt-Windows.Media.Playback; sys_platform == "win32"
winrt-Windows.Media.Core; sys_platform == "win32"
winrt-Windows.Storage; sys_platform == "win32"
winrt-Windows.Storage.Streams; sys_platform == "win32"
